.slides-container {
  display: flex;
  overflow: hidden;
}

.slide-show {
  position: relative;
}

.slide-show img {
  object-fit: cover;
  width: 100vw;
}

.slide-show-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  left: 80px;
  padding: 48px;
  max-width: 550px;
}

.text-wrapper h2 {
  background-color: var(--green);
  width: fit-content;
  font-weight: 500;
  font-size: 1rem;
  padding: 6px 12px;
  margin-bottom: 8px;
}

.text-wrapper h1 {
  font-weight: 600;
  font-size: 37px;
  line-height: 44.4px;
  margin-bottom: 20px;
}


.slide-show1 .text-wrapper h1,
.slide-show1 .text-wrapper p {
  color: #Fff;
}

.slide-show2 .text-wrapper h1,
.slide-show2 .text-wrapper p {
  color: #000;
}


.text-wrapper p {
  color: #Fff;
  margin-bottom: 24px;
}

.btns {
  display: flex;
  gap: 20px;
}

.btns a {
  color: #Fff;
  font-weight: 600;
  font-size: 1rem;
}

.btns .click-box {
  padding: 5px 8px;
}

.btns .click-box:focus-within {
  border-color: #Fff;
}

.blue-btn {
  background-color: var(--microsoft-blue);
}


.shop-pc:hover .chevron-right {
  transform: translateX(5px);
}

.click-box:focus-within {
  border-color: #Fff;
}

.chevron-right {
  transition: transform 0.3s ease;
}

.slide-in .slide-show-content {
  animation: fade-in 1.5s both;
}

.slide-out .slide-show-content {
  display: none;
}

/* Control Panel */
.control-panel {
  display: flex;
  justify-content: center;

  align-items: center;
  margin-top: 10px;
}

.control-panel div {
  padding: 10px 15px;

}

.play-pause-container {
  font-size: 1.2rem;
  cursor: pointer;

}

.circle-container {
  font-size: .6rem;
}

.chevron-container {
  font-size: 1rem;
  cursor: pointer;
}

.chevron-container:hover .control-chevron-right {
  transform: translateX(5px);
}

.chevron-container:hover .control-chevron-left {
  transform: translateX(-5px);
}

.control-chevron-right,
.control-chevron-left {
  transition: transform 0.3s ease;
}

.control-panel .click-box:focus-within {
  border-color: black;
}

.slide-left {
  animation: slide-left 1s both;
}

.slide-right {
  animation: slide-right 1s both;
}

.demo {
  text-align: center;
  font-weight: 700;
}

/* Animations */
@keyframes slide-left {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 1400px) {
  .slide-show-content {
    max-width: 450px;
  }

  .slide-show-content h1 {
    font-size: 29px;
  }
}

@media (max-width: 1100px) {
  .slide-show-content {
    display: none;
  }
}