.header {
  padding: 0 5rem;
}

.header_navbar {
  display: flex;
  margin: auto;
  max-width: 1600px;
  align-items: center;
  margin-bottom: 2px;
}

.header_navbar_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 12px 10px;
}

.nav-btn {
  font-size: 13px;
  padding: 16px 8px 10px;
}

.header_navbar_icon img {
  width: 108px;
  height: 23px;
  margin: -3px 0 0;
}

.header_navbar_pages,
.header_navbar_user {
  list-style: none;
  display: flex;
  align-items: center;
}

.header_navbar_pages {
  flex: 1;
}

.more-btn {
  display: none;
}

.header_navbar_user_signin a {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.signin-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  margin: 8px;
}

.header_navbar ul li:hover .underline-hover {
  border-bottom: 2px solid black;
}

.header .click-box {
  border: 2px dotted transparent;
}

.header .click-box:focus-within {
  border-color: black;
}

.header_navbar_user_signin {
  padding: 0px;
}

.header_navbar_user li:nth-child(1) span {
  margin-right: .2rem;
}

.sub-header {
  background-color: var(--green);
  padding: 16px 24px;
}

.sub-header .click-box:focus-within {
  border-color: black;
}

.sub-header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-header div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 2px 0;
}


.sub-header span {
  font-weight: 500;
}

.sub-header span:hover {
  text-decoration: underline;
}

.chevron-right {
  margin-left: .5rem;
  transition: transform 0.3s ease;
}

.sub-header span:hover+.chevron-right {
  transform: translateX(5px);
}

.header_navbar_mobile {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.header_navbar_mobile div {
  display: flex;
  align-items: center;
}

.header_navbar_mobile a {
  padding: 8px;
}

.header_navbar_mobile .signin-icon {
  margin: 0;
}

@media screen and (max-width: 1400px) {

  .search-text,
  .cart-text,
  .signin-text {
    display: none;
    background-color: red;
  }

  .signin-icon {
    margin-left: 0;
  }

}

@media screen and (max-width: 1080px) {
  .header {
    padding: 0 2rem;
  }
}


@media screen and (max-width: 1015px) {

  .support-btn,
  .business-btn,
  .deals-btn {
    display: none;
  }

  .more-btn {
    display: block;
  }
}


@media screen and (max-width: 860px) {
  .header {
    padding: 0 .5rem;
  }
}