:root {
  --font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --microsoft-blue: #0067b8;
  --link-blue: rgb(0, 103, 184);
  --heading-color: #262626;
  --green: #9bf00b;
}